<div id="chat-room-message">
  <div class="card chat-room-message-content">
    <div class="card-body">
      <div class="content" *ngIf="chatRoom; else withoutChatRoom">
        <h5 class="card-title">{{chatRoom.name}}</h5>

        <div class="content-messages">
          <div class="message" *ngFor="let message of chatMessages">
            <b>{{message.userId ? message.userId : 'CHAT BOT'}}: </b>{{message.content}}
          </div>
        </div>
        <form class="chat-command mt-3" (ngSubmit)="send()">
          <div class="row">
            <div class="col-11">
              <input class="form-control" [(ngModel)]="newMessage.content" name="newMessage.content" placeholder="Type your message...">
            </div>
            <div class="col-1 d-grid gap-1">
              <button type="submit" class="btn btn-primary">SEND</button>
            </div>
          </div>
        </form>
      </div>
      <ng-template #withoutChatRoom>
        <div class="without-content">
          Select a chat room on left.
        </div>
      </ng-template>

    </div>
  </div>
</div>
