
<h6 class="card-subtitle mb-2 text-muted text-center">LOGIN</h6>
<form ngNativeValidate #form="ngForm" (ngSubmit)="send()">
  <div class="form-group mt-4">
    <label for="">E-mail</label>
    <input class="form-control" type="email" required [(ngModel)]="loginModel.username" name="loginModel.username" />
  </div>
  <div class="form-group mt-1">
    <label for="">Password</label>
    <input class="form-control" type="password" required [(ngModel)]="loginModel.password" name="loginModel.password" />
  </div>
  <div class="commands d-grid gap-2 mt-3">
    <button class="btn btn-primary btn-block" type="submit">LOGIN</button>
    <a class="btn btn-default btn-light" [routerLink]="['/sign-up']">SIGN-UP</a>
  </div>
</form>
